.button {
    margin-left:50%;
  }
.alert-heading{
    margin-left: 40%;
  }
.requirements{
    margin-left: 20%;
  }
.footer{
    background-color: yellowgreen;
    height:80px;
  }
.logo2{
  margin-left: 45%;
}